@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: black;
}

/* custom css */

*{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
body{
  background-color: rgb(219, 216, 216);
}
.primary-color{
  color: #31bdeb;
}

/*header start */
header{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
  height: 60px;
  align-items: center;
}
.center{
  width: 33%;
}


.center ul{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

/* header end
*/
/* search start */
.bg-img{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 150px;
  background-image: url(./images/bg-img.jpg);
  background-position: bottom;
  background-clip: content-box;
  width: 80vw;
  margin: auto;
  border-radius: 50px;
  margin-top: 40px;

}

.bg-img input{
  padding: 15px 0 ;
  padding-right: 200px;
  padding-left: 12px;
  border: 0 ;
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  top: 220px;
  /* margin-top: 50px; */
}

/* search end */

  /* main body start */

.category{
  width: 80vw;
  margin: auto;
  margin-top: 50px;
}    
.category ul{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
  align-items: center;
}
.category .active-category{
  border-radius: 30px;
  background-color: #31bdeb;
  padding: 15px 34px;
}

.top-article{
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}
.top-article .left{
  width: 50%;
  margin: auto;
  background-image: url(./images/top-article.jpeg);
  height: 500px;
  border-radius: 42px;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-article .right{
  padding-left: 5%;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 345px;
}
.top-tag{
  font-size: 20px;
    color: #1282c7;
}
.blogs-container{
  display: flex;
  justify-content: center;
  width: 80vw;
  margin: auto;
  margin-top: 55px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blogs{
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 380px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.blog-image{
  height: 240px;
  border-radius: 25px;
  width: 100%;
  height: 300px;
}
.blog-description{
  font-family: 'Ubuntu', sans-serif;
  color: gray;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.user{
  display: flex;
}
.user-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
.user img{
  width: 50px;
  border-radius: 30px;
  height: 50px;
}

/*login css */
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.center-layout{
  width: 80%;
  margin: auto;
}
.pagination{
  display: flex;
  justify-content: space-between;
}
input.description{
  padding-bottom: 240px;
}